{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<section class="bg-light p-3">
    <h1>Votre panier</h1>
</section>
    <main class="container">
        {% if app.user %}
            {% if panier %}
                <a href="{{ path('app_sandwich') }}" class="btn btn-info">Continuer mes achats</a></p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, element in dataPanier  %}
                        {% dump(element) %}
                        {{ loop.index }}
                        {% if element is iterable %}

                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td class="text-end">{{ total }} €</td>
                    </tr>
                    </tfoot>
                </table>
                <button class="btn btn-danger" onclick="location.href='{{ path('delete') }}'">Vider le panier</button>
                <button class="btn btn-primary ">Commander</button>
            {% else %}
                <p>Votre panier est vide
                    <a href="{{ path('app_sandwich') }}" class="btn btn-info">Commencer mes achats</a>
                </p>
            {% endif %}
        {% else %}
            <p>Connectez-vous pour accéder à votre panier !</p>
            <a href="{{ path("app_login") }}" class="btn btn-secondary">Me connecter</a>
        {% endif %}

        {{ dump(panier) }}
    </main>
{% endblock %}