{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Votre panier</h1>
    </section>

    <p>Mmmmh, il est bien vide ce panier</p>
    <a href="{{ path('app_original_sandwich') }}" class="btn btn-info">Continuer mes achats</a>
    <table class="table">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for element in dataPanier %}
        <tr>
            {% if element.sandwich is not null %}
                <td>{{ element.sandwich.Name }}</td>
                <td>{{ element.sandwich.price }} €</td>
                <td>{{ element.quantite }}</td>
                <td>{{ element.quantite * element.sandwich.price }} €</td>
            <td>
                <a href="{{path("add", {id: element.sandwich.id})}}" class="btn btn-success">Ajouter</a>
                <a href="{{path("remove", {id: element.sandwich.id})}}" class="btn btn-danger">Supprimer</a>
            </td>
            {% endif %}
        </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Votre panier est vide</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td class="text-end">{{ total }} €</td>
            <td>
                <a href="{{path("delete")}}" class="btn btn-danger">Vider le panier</a>
            </td>
        </tr>
        </tfoot>

{% endblock %}