{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<section class="section-title">
    <h1>Mon panier</h1>
</section>
    <main class="container">
        {% if app.user %}
            {% if panier %}
                <a href="{{ path('app_sandwich') }}" class="btn btn-info">Continuer mes achats</a></p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set keyPrint = 0 %}
                    {% for key, element in panier  %}
                        {% if element is iterable%}
                            <tr class="table-secondary">
                                {% set keyPrint = keyPrint +1 %}
                                <td>Sandwich {{ keyPrint }}</td>
                                <td> {{ element['totalIngBySandwich'] /100}} €</td>
                                <td> {{ element['totalQte'] }}</td>
                                <td> {{ element['totalIngBySandwichByQte'] /100}} €</td>
                                <td>
                                    <a href="{{ path('app_cart_duplicate_maps', {index: key}) }}" class="btn btn-success">Ajouter</a>
                                    <a href="{{ path('app_cart_remove_maps', {index: key}) }}" class="btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                            {% for ingredient in element %}
                                {% if ingredient.ingredient is defined %}
                                    <tr>
                                    <td>{{ ingredient.ingredient.name }}</td>
                                    <td>{{ ingredient.ingredient.price/100 }} €</td>
                                    <td>{{ ingredient.quantite }}</td>
                                    <td>{{ ingredient.ingredient.price * ingredient.quantite /100}} €</td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for element in dataPanier %}
                    <tr class="table-secondary">
                        {% if element.sandwich is defined %}
                        {% if element.sandwich is not null %}
                            <td>{{ element.sandwich.Name }}</td>
                            <td>{{ element.sandwich.price /100}} €</td>
                            <td>{{ element.quantite }}</td>
                            <td>{{ element.quantite * element.sandwich.price /100}} €</td>
                            <td>
                                <a href="{{path("addOriginal", {id: element.sandwich.id})}}" class="btn btn-success">Ajouter</a>
                                <a href="{{path("removeOriginal", {id: element.sandwich.id})}}" class="btn btn-danger">Supprimer</a>
                            </td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="table-secondary">
                        <td colspan="3">Total</td>
                        <td >{{ total /100}} €</td>
                    </tr>
                    </tfoot>
                </table>
                <button class="btn btn-danger" onclick="location.href='{{ path('delete') }}'">Vider le panier</button>
                <button class="btn btn-primary ">Commander</button>
            {% else %}
                <p>Le panier est vide
                    <a href="{{ path('app_sandwich') }}" class="btn btn-info">Commencer mes achats</a>
                </p>
            {% endif %}
        {% else %}
            <p>Connectez-vous pour accéder à votre panier !</p>
            <a href="{{ path("app_login") }}" class="btn btn-secondary">Me connecter</a>
        {% endif %}
    </main>
{% endblock %}