{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}


{% block body %}

    <section class="container" style="width:50%">

        <div class="row">

            <div class="col">
                <h1 class="h1 mb-3 font-weight-normal">Profil de {{ app.user.getFirstName() }} {{ app.user.getLastName() }}  </h1> <!-- {app.publi.publications|length} -->

                <fieldset class="mb-3">
                    <legend>Mes Informations</legend>


                    <table width="600px" height="240px" bgcolor="#f5f5dc" cellpadding="10px" border-style="dotted">
                        <tr>
                            <td>Nom :</td>
                            <th>{{ app.user.getLastName() }}</th>
                        </tr>
                        <tr>
                            <td>Prénom :</td>
                            <th>{{ app.user.getFirstName() }} </th>
                        </tr>
                        <tr>
                            <td>Nom d'utilisateur :</td>
                            <th>{{ app.user.getUserName() }} </th>
                        </tr>
                        <tr>
                            <td>E-mail :</td>
                            <th>{{ app.user.userIdentifier }}</th>
                        </tr>
                        <tr>
                            <td>
                                Date de naissance:
                            </td>
                            <th>{{app.user.getBirthDate().format('d/m/Y')}}</th>
                        </tr>

                        <tr>
                            <td></td>
                            <td  align="right">
                                <a href="{{ path('app_account_edit') }}"> <button class="btn btn-dark my-sm-2" type="submit">
                                    Modifier mon Profil <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button></a>
                            </td>
                        </tr>

                    </table>
                </fieldset>

                <style>
                    .a { text-decoration:none;}
                </style>



{#  {% include "account/mes_publication.html.twig" %}#}



                <fieldset class="mb-3">
                    <legend>Mes Sandwichs</legend>

                    <button class="btn btn-lg btn-primary my-3" type="submit">
                        Modifier <i class="fa-duotone fa-file-pen"></i>
                    </button>
                    <button class="btn btn-lg btn-primary my-3" type="reset">
                        Effacer <i class="fa-thin fa-delete-left"></i>
                    </button>

                </fieldset>

            </div>
        </div>
    </section>


{% endblock %}

