{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}


{% block body %}

    <section class="section-title">
        <h1>Profil de {{ app.user.getFirstName() }} {{ app.user.getLastName() }}  </h1>
    </section>

    <section class="container" style="width:50%">
        <div class="row">
            <div class="col ">
                <h1 class="h1 mb-3 font-weight-normal"></h1> <!-- {app.publi.publications|length} -->


                <fieldset class="mb-3 card">
                    <legend>Mes Informations</legend>
                    <hr>

                    <table  align="center" width="500px" height="240px"  cellpadding="10px" border-style="dotted">
                        <tr>
                            <td>Nom :</td>
                            <th>{{ app.user.getLastName() }}</th>
                        </tr>
                        <tr>
                            <td>Prénom :</td>
                            <th>{{ app.user.getFirstName() }} </th>
                        </tr>
                        <tr>
                            <td>Nom d'utilisateur :</td>
                            <th>{{ app.user.getUserName() }} </th>
                        </tr>
                        <tr>
                            <td>E-mail :</td>
                            <th>{{ app.user.userIdentifier }}</th>
                        </tr>
                        <tr>
                            <td>
                                Date de naissance:
                            </td>
                            <th>{{app.user.getBirthDate().format('d/m/Y')}}</th>
                        </tr>

                        <tr>
                            <td></td>
                            <td  align="left">
                                <a href="{{ path('app_account_edit') }}"> <button class="btn btn-dark my-sm-2" type="submit">
                                    Modifier mon Profil <i class="fa-regular fa-pen-to-square"></i>
                                </button></a>

                            </td>
                        </tr>

                    </table>
                </fieldset>


                <style>
                    .a { text-decoration:none;}
                </style>







                <fieldset class="mb-3">
                    <legend>Mes Sandwichs</legend>

                    <button class="btn btn-lg btn-primary my-3" type="submit">
                        Modifier <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-lg btn-primary my-3" type="reset">
                        Effacer <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                        </svg>
                    </button>
                </fieldset>

                <fieldset class="mb-3">
                    <legend>Mes Réservations</legend>
                    {% if reservations %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Date de réservation</th>
                                    <th scope="col">Table</th>
                                    <th scope="col">Vous avez changé d'avis?</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                        <tr>
                                            <td>{{ reservation.dateTimeReservation | date("d/m/Y m:h") }}</td>

                                            <td>Table {{ reservation.getResaTable.id }}</td>
                                            <td>
                                                <button class="btn btn-lg btn-primary my-3" type="submit">
                                                    Modifier <i class="fa-regular fa-pen-to-square"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-lg btn-primary my-3" type="reset">
                                                    Supprimer <i class="fa-sharp fa-solid fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>


                    {% else %}
                        <p>Aucune réservations</p>
                    {% endif %}
                </fieldset>

                <fieldset class="mb-3">
                    <legend>Mes Publications</legend>

                    {% if publications %}

                        {% for publi in publications %}


                    <div class="container">
                    <div class="row">
                        <div class=" col-md-6">
                            <div class="card" style="width: 22rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ publi.getPubliUser().getUsername() }}</h5>
                                    <img src="{{ asset('upload/images/publications/')}}{{ publi.photo }}" class="card-img-top" alt="photo pour le test">

                                    {% set startDate = date(publi.createdAt) %}
                                    {% set difference = date( 'now' | date() ).diff(date(startDate)) %}

                                    {% set leftMinutes = difference.i %}
                                    {% set leftHours = difference.h %}
                                    {% set leftDays = difference.days %}
                                    {% set leftYears = difference.y %}

                                    {% if leftHours < 1 %}
                                        <p class="card-subtitle mb-2 text-muted">il y a {{ leftMinutes }} minutes.</p>
                                    {% elseif leftHours == 1 %}
                                        <p class="card-subtitle mb-2 text-muted">il y a 1 heure.</p>
                                    {% elseif leftHours >= 1 and leftDays < 1 %}
                                        <p class="card-subtitle mb-2 text-muted">il y a {{ leftHours }} heures.</p>
                                    {% elseif leftDays == 1%}
                                        <p class="card-subtitle mb-2 text-muted">il y a 1 jour.</p>
                                    {% elseif  leftDays >= 1 and leftDays < 7  %}
                                        <p class="card-subtitle mb-2 text-muted">il y a {{ leftDays }} jours. </p>
                                    {% else %}
                                        <p class="card-subtitle mb-2 text-muted">{{ publi.createdAt|date('d-m-Y')}}</p>
                                    {% endif %}

                                    <p class="card-text">{{ publi.commentaire }}</p>
                                    <a href="{{ path('app_publication_update')  }}" class="btn btn-primary">Modifier <i class="fa-solid fa-pen-to-square"></i></a>

                                    <form action="{{ path('app_account_removePublication', {'publicationId': publi.id}) }}" method="post" class="d-inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette publication ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <a class="btn btn-primary" type="submit">
                                            Retirer <i class="fa-sharp fa-solid fa-trash"></i>
                                        </a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div></div>



                        {% endfor %}

                    {% else %}
                        <p>Aucune publication</p>
                    {% endif %}
                </fieldset>

            </div>
        </div>
    </section>


{% endblock %}

