
<header>
    <nav class="navbar navbar-expand-lg" style="z-index: 0; background-color: #ffda6a">
        <div class="container-fluid collapse navbar-collapse">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">MAPS ton sandwich</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mapping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A Propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_feed') }}">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_original_sandwich') }}">Sandwichs traditionnels</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Favoris
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sandwich traditionnel</a></li>
                            <li><a class="dropdown-item" href="#">Sandwich du moment</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Mon Compte</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Button -->
                <ul class="nav-bar nav ms-auto mb-2 mb-lg-0">

                    {# si l'user est connecté #}
                    {% if app.user %}
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn btn-sm ms-auto btn-outline-secondary">Mon Compte</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn btn-sm ms-auto btn-outline-secondary" onclick="location.href='{{ path('app_logout') }}'">Log out</button>
                        </li>

                        {# si l'user n'est pas connecté #}
                    {% else %}
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn btn-sm ms-auto btn-outline-secondary" onclick="location.href='{{ path('app_login') }}'">Log in</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn btn-sm ms-auto btn-outline-secondary" onclick="location.href='{{ path('app_registration') }}'">Sign up</button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
</header>