{% extends "base.html.twig" %}

{% block title %}Modification des publications{% endblock %}

{% block body %}
    <section class="section-title">
        <h1>Modifiez une publication</h1>
    </section>
    <main class="container-form">
        <section class="row">
            <div class="col">
                {{ form_start(publiForm) }}

                    <label for="image">Photo</label>
                    <img id="image" class="form-control" src="{{ asset('upload/images/publications/')}}{{ publication.photo }}" alt="photo pour le test">

                    {{ form_row(publiForm.commentaire) }}

                    <button class="btn btn-lg btn-primary my-3" type="submit">
                        Modifier
                    </button>
                    <button class="btn btn-lg btn-primary my-3" type="reset">
                        Effacer
                    </button>
                {{ form_end(publiForm, {'render_rest': false}) }}
            </div>
        </section>
    </main>
{% endblock %}