{% extends 'base.html.twig' %}

{% block title %}Hello SandwichController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Ingrédient</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% if ingredients %}
            {% for ingredient in ingredients %}
                <tr>

                    <td>{{ ingredient.name }}</td>
                    <td> {{ ingredient.description | raw }}</td>
                    <td><img src="{{ asset('upload/image/ingredients/' ~ ingredient.photo) }}" alt="Ingredient Photo"></td>
                    <td> {{ ingredient.price }}</td>
                    <td> </td>
                    {#<td class="text-end"> {{ ingredient.quantite *ingredient.price }}</td>#}
                    <td>
                        <a href="{{ path("app_sandwich_add_basket", {id:ingredient.id})}}"
                           class="btn-success" style="margin-right: 32px">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path("app_sandwich_remove_basket", {id:ingredient.id})}}"
                           class="btn-warning" style="margin-right: 32px">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="{{ path("app_sandwich_delete", {id: ingredient.id})}}"
                           class="btn-warning" style="margin-right: 32px">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <td colspan="5" class="text-center">Votre sandwich est vide.</td>
        {% endif %}
        </tbody>
    </table>
    <a href="{{ path("app_sandwich_delete_all") }}"
       class="btn-warning">
        Vider le sandwich
        <i class="fa fa-trash"></i>
    </a>
    <button>Commander</button>
    <a href="{{path("add")}}">ajouter au panier</a>
    <div>
        <p > Total</p>
        <p> {{ total }}</p>
    </div>

    {{ dump(dataContenuSandwich) }}
{% endblock %}
